html,body{
	margin: 0px;
	padding: 0px;

}

body {
	background-color: #042a2b;
	font-family: 'Roboto Condensed', sans-serif;
}







.navigation{
	background-color: #042a2b;
	color: white;
	height: 50px;
	animation-name: navegacao;
	animation-duration: 3s;
}

.navigation ul{
	margin-top: 0px;
	list-style: none;
	padding-left: 0px;
	height: 50px;
	text-align: right;
}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 200;
}

.navigation a{
	color: white;
	text-decoration: none;
}

.navigation a:hover {
	color: #54F2F2;
}

.navigation li.threeline-icon{
	display: none;

}

.navigation li.threeline-icon:hover{
	color: #54F2F2;
	cursor: pointer;

}




.capa{
	color: white;
}

.capa span{
	color: #54F2F2;
	display: block;
}

.capa div {
	display: inline-block;
	height: 650px;
}








.profile-pic{
	width: 45%;
	text-align: center;

	animation-name: profile-capa;
	animation-duration: 2s;
}

.profile-pic img{
	width: 400px;
	border-radius: 400px;
	margin-top: 200px;
	margin-left: 100px;
}








.profile-title{
	vertical-align: top;
	width: 54%;
	animation-name: titulo-capa;
	animation-duration: 2s;
}

.profile-title h1{
	text-transform: uppercase;
	font-size: 58px;
	margin-top: 340px;
	line-height: 55px;
}

.profile-title h2{
	font-size: 16px;
	font-weight: 200;
	margin-top: -26px;
}





.main {
	padding: 40px 180px 80px 100px;
	animation-name: conteudo;
	animation-duration: 2s;
}

.cv-pic {
	float: left;
	width: 325px;
	margin-right: 25px;  
}

.sobre-mim {
	margin-top: 75px;
}

.main h1{
	color: white;
	font-weight: normal;
}

.main h2{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 75px;
}

.main h3{
	color: #54F2F2;
	font-size: 15px;
	text-transform: uppercase;
}

.main p {
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;
	text-align: justify;
}

.caminho{
	list-style: none;
	padding-left: 0;
	color: grey;
}

.caminho li {
	display: inline-block;
}

.caminho a{
	color: grey;
}

.social-img1{
	width: 70px;
	margin-right: 10px;
}
.social-img2{
	width: 59px;
	margin-right: 10px;
}




.miniatura{
	width: 400px;
	height: 400px;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 25px;
	background-size: contain;
	overflow: hidden;
}

.miniatura a{
	text-decoration: none;
}

.miniatura2{
	width: 365px;
	height: 365px;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 25px;
	background-size: contain;
	overflow: hidden;
}



.blackbox{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	padding-top: 175px;
	transition: 0.5s;
}

.blackbox:hover{
	opacity: 0.8;
	transition: 0.5s;
}

.blackbox-text{
	text-align: center;
}

.blackbox-text h1{
	font-size: 20px;
	color: #54F2F2;
	text-transform: uppercase;
	margin-top: 0;
}

.blackbox-text h2{
	font-weight: 200;
	text-transform: none;
	margin-top: 0;
}



.blackbox2{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	padding-top: 125px;
	transition: 0.5s;
}

.blackbox2:hover{
	opacity: 0.8;
	transition: 0.5s;
}

.blackbox-text2{
	text-align: center;
}

.blackbox-text2 h1{
	font-size: 20px;
	color: #54F2F2;
	text-transform: uppercase;
	margin-top: 0;
}

.blackbox-text2 h2{
	font-weight: 200;
	text-transform: none;
	margin-top: 0;
}




.foto-trabalho{
	margin-bottom: 10px;
	margin-top: 7px;
	width: 100%;
}

.foto-trabalho1{
	text-align: center;
}

.foto-trabalho1 img{
	margin-bottom: 10px;
	margin-top: 7px;
	width: 60%;
	display: inline-block;
}

.back-link {
	color: #54F2F2;
}

.button {
	position: relative;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 20px 10px;
	border: 1px solid #54F2F2;
	background: transparent;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.spandownload{
	background: #54F2F2;
	height: 100%;
	width: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.button:hover .spandownload{
	width: 100%;
}



@keyframes profile-capa {
	0% {opacity: 0; transform: translate(0px,20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,-20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes conteudo {
	0% {opacity: 0; transform: translate(-20px,0px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}




@media (max-width: 1120px) {


	.navigation li {
		display: none;
	}

	.navigation li.threeline-icon{
		display: inline-block;
	}

	.capa div{
		display: block;
		height: auto;
	}

	.profile-pic{
		width: 100%;

	}

	.profile-pic img{
		max-width: 80%;
		margin-top: 0;
		margin-left: 0;
	}

	.profile-title{
		text-align: center;
		width: 100%;
	}

	.profile-title h1{
		margin-top: 30px;
		margin-left: 0;
		font-size: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.profile-title h2{
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.main {
		padding: 10px 5% 40px 5%;
	}

	.main a {
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	.cv-pic {
		float: none;
		max-width: 100%; 
	}

	.main p{
		text-align: left;
		line-height: 30px;
	}

	.caminho li {
		font-size: 14px;
	}

	.miniatura {
		max-width: 100%;
		background-size: auto 100%;
	}

	.blackbox {
		opacity: 0.8;
	}

	.miniatura2 {
		max-width: 100%;
		background-size: auto 100%;
	}

	.blackbox2 {
		opacity: 0.8;
	}

	.menujs {
		height: auto;

	}

	.menujs ul {
		height: auto;
		text-align: center;
		padding-right: 15%;
		padding-left: 15%;
	}

	.menujs li{
		display: block;
		border-bottom: solid grey 1px;
		width: 100%;
		padding: 0;
	}

	.video{
		max-width: 80%;
	}











}


